.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.7rem 1.3rem;
    width: 100%;
    height: auto;
    padding: 2.4rem;
    background-color: var(--keypad-background);
    border-radius: 0.8rem;
}

@media screen and (min-width: 540px) {
    .keypad {
        padding: 3.2rem 3rem;
        gap: 2.8rem 2.5rem;
    }
}
