.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
    width: 100%;
    height: auto;
    padding: 2.4rem;
    background-color: var(--keypad-background);
    border-radius: 0.8rem;
}

.keypad__key {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 0.4rem;
}

.keypad__key--number-operator {
    background-color: var(--number-operator-key-shadow);
}

.keypad__key--del-reset {
    background-color: var(--del-reset-key-shadow);
}

.keypad__key--equal {
    background-color: var(--equal-key-shadow);
}

.keypad__key--square {
    padding-top: 105%;
}

.keypad__key--rectangle {
    grid-column: span 2 / span 2;
    padding-top: 47.5%;
}

.keypad__button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 0.4rem);
    border-radius: 0.4rem;
    border: none;
    font-family: inherit;
}

.keypad__key--number-operator > .keypad__button {
    background-color: var(--number-operator-key-background);
}

.keypad__key--del-reset > .keypad__button {
    background-color: var(--del-reset-key-background);
}

.keypad__key--equal > .keypad__button {
    background-color: var(--equal-key-background);
}

.keypad__label {
    margin: auto;
    font-weight: 700;
    color: var(--number-operator-text);
}

.keypad__key--number-operator .keypad__label {
    font-size: 2.8rem;
    color: var(--number-operator-text);
}

.keypad__key--del-reset .keypad__label {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: var(--del-reset-text);
}

.keypad__key--equal .keypad__label {
    color: var(--equal-text);
    font-size: 1.8rem;
}
