.screen {
    display: flex;
    width: 100%;
    height: 8.8rem;
    border-radius: 0.8rem;
    background-color: var(--screen-background);
    padding: 2.4rem;
    margin-bottom: 2.4rem;
}

.screen__result {
    width: 100%;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: end;
    line-height: 1;
    letter-spacing: -0.05rem;
    color: var(--primary-text);
    margin: auto 0;
}

@media screen and (min-width: 540px) {
    .screen {
        height: 12.8rem;
    }

    .screen__result {
        font-size: 4.8rem;
        letter-spacing: -0.1rem;
    }
}