.switch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.switch__title {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--primary-text);
    text-transform: uppercase;
    margin: 0 2.2rem 0.8rem 0;
}

.switch__button {

}

.switch__label-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-bottom: 0.4rem;
}

.switch__label {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--primary-text);
}

.switch__input-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 7.2rem;
    height: 2.6rem;
    padding: 0.4rem;
    border-radius: 1.3rem;
    background-color: var(--toggle-background);
}

.switch__input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
}

.switch__input:checked {
    background-color: var(--toggle);
}
